@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');

*{
  box-sizing: border-box;
}

#my-box {
  width: 80%;
  padding: 30px;
 
}
 

body {
  margin: 0;
  background-color: rgb(233, 232, 227);
  color: rgb(95, 95, 95);
}

#logo{
  width: 15%;
  height: auto;
  margin: 15px 0 0 50px;
}



#nav {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase; 
}

#nav .active {
  color: rgb(95, 95, 95);

}

#nav li {
  color: rgb(128, 19, 41); 
  padding: 10px;
}


main {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  grid-auto-rows: 1fr;
  grid-gap: 55px;  
  margin: 0 auto;

}

section {
  background-color: rgb(255, 255, 255);
  margin-top: 25%;
  
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0  0 -10% 5%;   

}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-bottom: .8px solid grey;
  width: 90%;
  margin-left: 5%;
  
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
  
  
}

ul {
  margin-top: -5%;
  
}

article li {
 
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  border: .5px solid rgb(224, 222, 222);
  width: 100%;
  margin-left: -5.5%;
  padding: 10px;

}



li button {
  display: flex;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(128, 19, 41);
  border: 1px solid rgb(128, 19, 41); 
  margin: 0 auto;
  
  
}

.color div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 3%;
 
}

.color2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  color: #a13720; 
  margin-left: 3%;
 
}


img {
  max-width: 100%;
  height: auto;
 
}

